################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/source/.vs/audioAnalizer/FileContentIndex
/source/bin
/source/obj
/source/.vs/sam
